<h1>Name and surnames</h1>
<%= @message.name %>
<h1>Phone number</h1>
<%= @message.phone %>
<h1>Email</h1>
<%= @message.email %>
<h1>Place name</h1>
<%= @message.place_name %>
<h1>Address</h1>
<%= @message.address %>
<h1>Message</h1>
<%= @message.content %>