<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="user-scalable=yes">
        <title>KupeLike</title>
    	<%= javascript_include_tag 'application'  %>
        <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/ico"/>
        <%= stylesheet_link_tag "application", "https://fonts.googleapis.com/css?family=Fjalla+One|Roboto|Lobster|Lato"  %>

        <script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>
        
        
        <script>
window.app_language = "<%= params["locale"] %>";

$(document).ready(function(){
    $('#search').on('keyup keypress', function(e) {
      var keyCode = e.keyCode || e.which;
      if (keyCode === 13) { 
        e.preventDefault();
        return false;
      }
    });
    $("#search").keyup(function(){
        var txtBusqueda = $("#search").val();
        if(txtBusqueda != ""){
            $.ajax({
                type: "GET",
                url: $('#navbar-search').attr('action'),
                dataType: "json",
                data: {search : txtBusqueda},
                success : function(response) {
                    console.log(response);
                    $("#searchResults").show();
                    $("#searchResults").html("");
                    $.each(response, function(index, place){
                        var ida = place.id;
                        var sfoto = place.picture;
                        var route = "<%= place_path('xxx') %>".replace("xxx", ida);
                        var llegar = "<%= map_path('xxx') %>".replace("xxx", ida);
                        
                        $("#searchResults").append(
    "<hr class='search-hr'><div class='row'>"+
        "<a name='"+place.name+"' href='"+route+"'>"+
            "<div class='col-xs-offset-2 col-xs-5'>"+
                "<h2 class='card-title text-uppercase'>"+place.name+"</h2>"+
                "<div class='card-margen-20'>"+
                    "<p class='card-description' id='descripcion'>"+place.description+"</p>"+
                    "<a href='"+llegar+"'><button type='button' class='btn btn-default'><%= t('paginas.sidrerias.llegar') %></button></a>"+
                "</div>"+
            "</div>"+
        "</a>"+
        "<a name='"+place.name+"' href='"+route+"'>"+
            "<div class='col-xs-4'>"+
                "<div class='card-sidreria'>"+
                    "<img class='img-responsive img-search' src='"+sfoto+"'></img>"+
                "</div>"+
            "</div>"+
        "</a>"+
    "</div>"
                        );
                    
                    });
                }
            });
        }
    });
});
        </script>
    </head>
    <body>
        <div class="wrapper">
            
        <!-- Navbar start -->
        <nav class="navbar navbar-light bg-faded navbar-fixed-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 p-x-0">
                        <ul class="list-inline pull-right idiomas visible-md visible-lg visible-xl">
                            <li class="es"><%= link_to_unless I18n.locale == :es, "ES", locale: :es %></li>
                            |
                            <li class="eus"><%= link_to_unless I18n.locale == :eus, "EUS", locale: :eus %></li>
                            |
                            <li class="en"><%= link_to_unless I18n.locale == :en, "EN", locale: :en %></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1 navbar-header hidden-md hidden-lg">
                        <a id="navbar-ham" class="navbar-ham toggle-button visible-xs visible-sm"><i class="fa fa-bars fa-4x" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-xs-4 col-lg-3 navbar-header p-x-0">
	                    <%= link_to index_path, { :class => 'navbar-title', :id => 'navbar-title' } do %>
						    Kupe<img class="img-logo"/>Like
						<% end %>
 					</div>
                    <div class="col-md-7 col-lg-8 desktop-menu visible-md visible-lg p-x-0">
                        <ul class="desktop-menu-links">
                            <% if user_signed_in? %>
                                <% if current_user.admin? %>
                                    <li><%= link_to t('paginas_estaticas.menu.admuser'), admin_users_path, class: 'btn-margin' %></li>
                                    <li><%= link_to t('paginas_estaticas.menu.admsidre'), admin_places_path, class: 'btn-margin' %></li>
                                <% elsif current_user.seller? %>
                                    <li><%= link_to t('paginas_estaticas.menu.misidre'), admin_place_path(current_user.place_id), class: 'btn-margin' %></li>
                                    <li><%= link_to t('paginas_estaticas.menu.perfil'), edit_admin_user_path(current_user.id), class: 'btn-margin' %></li>
                                <% end %>
                                <li><%= link_to t('paginas_estaticas.menu.ayuda'), contact_path, class: 'btn-margin' %></li>
                                <li><%= link_to t('paginas_estaticas.menu.salir'), destroy_user_session_path, :method => :delete, class: 'btn-margin' %></li>
                            <% else %>
                                <li><%= link_to t('paginas_estaticas.menu.sidrerias'), places_path, class: 'btn-margin' %></li>
                                <li><%= link_to t('paginas_estaticas.menu.mapa'), all_maps_path, class: 'btn-margin' %></li>
                                <li><%= link_to t('paginas_estaticas.menu.contacto'), contact_path, class: 'btn-margin' %></li>
                                <li><a class="btn-access"><%= t('paginas_estaticas.menu.accederr') %></a></li>
                            <% end %>
                        </ul>  
                    </div>
                    <div class="col-xs-7 col-md-1">
                        <%= form_tag(search_places_path, :method => "get", id: "navbar-search", class: "pull-right p-x-0", role: "search") do %>
                            <div class="form-group">
                              <%= text_field_tag :search, params[:search], placeholder: t('paginas_estaticas.menu.buscar'), class: "searchBox hidden", id: "search" %>
                            </div>
                            <a id="searchButton" class="btn navbar-search-btn"><i id="searchIcon" class="fa fa-search fa-flip-horizontal fa-2x" aria-hidden="true"></i></a>
                        <% end %>
                    </div>

                </div>
            </div>
        </nav>
        <!-- Navbar END -->
        
        <!-- Search erantzunak -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 searchResults" id="searchResults">
                </div>
            </div>
        </div>
        <!-- Search erantzunak END -->

        <!-- Menu desplegable izquierda -->
        <div class="menu">
        <span><i class="fa fa-times fa-2x pull-right close-menu" aria-hidden="true"></i></span>
            <ul class="list-inline idiomas-side">
                <li class="es"><%= link_to_unless I18n.locale == :es, "ES", locale: :es %></li>
                |
                <li class="eus"><%= link_to_unless I18n.locale == :eus, "EUS", locale: :eus %></li>
                |
                <li class="en"><%= link_to_unless I18n.locale == :en, "EN", locale: :en %></li>
            </ul>
            <ul class="menu-links">
                <% if user_signed_in? %>
                    <% if current_user.admin? %>
                        <%= menu_item admin_users_path, t('paginas_estaticas.menu.admuser') %>
                        <%= menu_item admin_places_path, t('paginas_estaticas.menu.admsidre') %>
                    <% elsif current_user.seller? %>
                        <%= menu_item admin_place_path(current_user.place_id), t('paginas_estaticas.menu.misidre') %>
                        <%= menu_item edit_admin_user_path(current_user.id), t('paginas_estaticas.menu.perfil') %>
                    <% end %>
                    <%= menu_item contact_path, t('paginas_estaticas.menu.ayuda') %>
                    <%= link_to destroy_user_session_path, :method => :delete do %><li><%= t('paginas_estaticas.menu.salir') %></li><% end %>
                <% else %>
                    <%= menu_item index_path, t('paginas_estaticas.menu.inicio') %>
                    <%= menu_item places_path, t('paginas_estaticas.menu.sidrerias') %>
                    <%= menu_item all_maps_path, t('paginas_estaticas.menu.mapa') %>
                    <%= menu_item contact_path, t('paginas_estaticas.menu.contacto') %>
                    <%= menu_item about_us_path, t('paginas_estaticas.menu.nosotros') %>
                    <a class="btn-access"><li><%= t('paginas_estaticas.menu.accederr') %></li></a>
                <% end %>
            </ul>
        </div>
        <!-- Menu desplegable izquierda END -->
           
        <!-- Access window -->
        <div class="accesWrapper">
            <div id="accessWindow" class="row">
                <div class="col-xs-12">
                    <a id="closeAccess" class="pull-right"><i class="fa fa-times fa-2x" aria-hidden="true"></i></a>
                </div>
                <div class="col-xs-12">
                    <h1 class="access-title text-center"><%= t('paginas_estaticas.menu.acceder.acceder') %></h1>
                </div>
                <div class="col-xs-12">
                
                    <%= form_for(:user, :url => session_path(:user), :class => 'login_form') do |f| %>
                      <%= f.text_field :email, class: 'formulario', placeholder: 'Email' %>
                      <%= f.password_field :password, class: 'formulario', placeholder: 'Password' %>
                      <!--<%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>-->
                      <%= f.submit 'Sign in', class: 'formulario', id: 'enviar' %>
                      <!--<%= link_to "Forgot your password?", new_password_path(:user) %> -->
                    <% end %>
                </div>
                <div class="col-xs-12">
                    <%= link_to t('paginas_estaticas.menu.acceder.red'), register_path, class: "access-link pull-right" %>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                    <% if flash[:notice] %>
                        <div class="notice alert alert-info"><%= flash[:notice] %></div>
                    <% end %>
                    <% if flash[:success] %>
                        <div class="notice alert alert-success"><%= flash[:success] %></div>
                    <% end %>
                    <% if flash[:error] %>
                        <div class="notice alert alert-danger"><%= flash[:error] %></div>
                    <% end %>
                </div>
            </div>
        </div>
        
        <!-- Access window END -->
                
        <!-- IMPORTANTE -> Todos los ficheros que se cargen en el block body deben empezar con un div container-fluid!!!!
        PERO SU ETIQUETA DE CIERRE CORRESPONDIENTE NO HACE FALTA!!!-->
            <%= yield %>
        </div><!-- .container-fluid -->
        <div class="push"></div>
        </div>
        <div class="container-fluid">
            <!-- Footer start -->
            <div class="row footer text-center">
                <div class="col-xs-12">
                    
                    <div class="row">
                        <div class="col-xs-12 font-face-primary p-20"> 
                        
                            <ul class="list-inline ftitle">
                                
                                <li><a href="https://www.facebook.com/kupelike" target="_blank">
                                    <span class="fa-stack fa-2x">
                                      <i class="fa fa-circle fa-stack-2x btn-social"></i>
                                      <i class="fa fa-facebook fa-stack-1x fa-inverse btn-social-inner" aria-hidden="true"></i>
                                    </span>
                                </a></li>
                                <li><a href="https://twitter.com/KupeLike" target="_blank"><span class="fa-stack fa-2x">
                                      <i class="fa fa-circle fa-stack-2x btn-social"></i>
                                      <i class="fa fa-twitter fa-stack-1x fa-inverse btn-social-inner" aria-hidden="true"></i>
                                    </span>
                                </a></li>
                                <li><a href="https://www.instagram.com/kupelike" target="_blank"><span class="fa-stack fa-2x">
                                      <i class="fa fa-circle fa-stack-2x btn-social"></i>
                                      <i class="fa fa-instagram fa-stack-1x fa-inverse btn-social-inner" aria-hidden="true"></i>
                                    </span>
                                </a></li>
                            </ul>
                            
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-12 font-face-primary"> 
                            <ul class="list-inline footer-menu text-uppercase">
                            	<li><%= link_to t('paginas_estaticas.footer.inicio'), index_path %></li>
                                <li><%= link_to t('paginas_estaticas.footer.mapa'), all_maps_path %></li>
                                <li><%= link_to t('paginas_estaticas.footer.sidrerias'), places_path %></li>
                                <li><%= link_to t('paginas_estaticas.footer.contacto'), contact_path %></li>
                                <li><%= link_to t('paginas_estaticas.footer.nosotros'), about_us_path %></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 font-face-primary"> 
                            <ul class="list-unstyled footer-menu green-color">
                                <li><a href="tel:655555555"><i class="fa fa-phone-square" aria-hidden="true"></i> +34 655 55 55 55</a></li>
                                <li><a href="mailto:kupelikeproject@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i> kupelikeproject@gmail.com</a></li>
                                <li><a href="https://www.google.es/maps/place/Instituto+de+Educaci%C3%B3n+Secundaria+Xabier+Zubiri+Manteo/@43.3274463,-1.9710159,20z/data=!4m5!3m4!1s0x0:0x8654b5f1f9a490ae!8m2!3d43.3274118!4d-1.9708255"><i class="fa fa-map-marker" aria-hidden="true"></i> Paseo de José Miguel Barandiarán, 10-12, 20013 San Sebastián, Guipúzcoa</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 subfooter">   
                    Copyright © 2017 KupeLike - All Rights Reserved - <a href="/privacy" class="">Privacy</a>
                </div>
                <hr class="fline"/>
            </div>
            <!-- Footer END -->
        </div><!-- .container-fluid -->
       
        </body>
</html>
